.wrapper{
  width: 60%;
  margin: 0 auto;
}

h4{
  text-align: center;
}

.nameField{
  height: 2em;
  width: 100%;
}

p{
  text-align: center;
}

.mdl-button{
  width: 50%;
}

.greeted-people{
  text-align: center;
}

.homeBtn{
  widows: 100%;
}