<div class="wrapper">

<div class="">

  <h4>Greetings</h4><hr/><br><br>

    <form action="/greetings"  method="POST">

        <label>Name:  <input class="nameField" type="string" name="name"></label><br><br><br>
        <input type="radio" name="language" value="english"> English<br>
        <input type="radio" name="language" value="afrikaans"> Afrikaans<br>
        <input type="radio" name="language" value="isixhosa"> IsiXhosa <br><br>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect greetButton" type="submit" style="background-color:#1AB365; color:white">
                Greet
            </button>
          </div>
          <div class="mdl-cell mdl-cell--6-col">
            <p>Counter: {{counter}}</p>
          </div>

        </div>

    </form>

    <h4>{{greetingMessage}}</h4>

</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <a href="/greeted"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect greetedButton" type="submit" style="background-color:#1AB365; color:white">
        Greeted People
    </button></a>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <a href="/reset"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Reset
    </button></a>
  </div>

</div>
</div>
